include ./_components.jade

doctype html
html
	+head ('Statecraft » About us')
		meta(property="og:title" content="Statecraft » About Us")/
		meta(property="og:url" content="https://statecraft.one/about")/
		meta(property="og:description" content="We help local governments use data to solve critical problems.")/
		meta(property="og:image" content="https://statecraft.one/img/statecraft-square.png")/

	body
		+header

		.about: .container
			.about--title We help local governments#[br] use data to solve critical problems
			.about--text
				p Statecraft is a San Francisco-based urban analytics company. We partner with cities, counties, and states to address biggest challenges faced by their communities.
				p Statecraft helps measure, predict, and improve key indicators in housing affordability, job creation, and tax revenue. Our technology solutions cover data integration (merging multiple sources into a single integrated database), advanced analysis (predictions, alerts, optimizations), and interface design (dashboards, reports, visualizations, maps).
				p Using components from Statecraft platform, new initiatives can be launched in weeks, not months.

			.about--hr

		.mission: .container
			.mission--label Our mission
			.mission--title Advance data-driven culture in government
			.mission--hr

		.team: .container
			.team--title Leadership team

			//.team--text Faces behind Statecraft

			.team--grid
				.team--col: +team--item ('01', 'Yury Lifshits', 'CEO', 'yurylifshits', 'lifshits')
				.team--col: +team--item ('02', 'Steve Korshakov', 'CTO', 'Ex3NDR', 'ex3ndr')

			.team--hr

		.projects: .container
			.projects--title Project highlights
			.projects--grid
				.projects--col: .projects--item
					a(href="https://sf.statecraft.one").projects--screen: img(src="img/projects--screen.png" srcset="img/projects--screen@2x.png 2x" alt="")

					.projects--name San Francisco Housing Analytics

					a(href="https://sf.statecraft.one").btn.is-lpurple.is-block See it live

				.projects--col: .projects--item
					a(href="https://www.dropbox.com/s/rrrf44pr3hy5o3x/What%E2%80%99s%20Ahead%20for%20Government%20Performance%20Websites.pdf?dl=0").projects--intro
						.projects--intro-l: img(src="img/logotype--light.svg" alt="")
						.projects--intro-d 2017
						.projects--intro-t What’s ahead for government performance websites

					.projects--name Performance dashboards whitepaper

					a(href="https://www.dropbox.com/s/rrrf44pr3hy5o3x/What%E2%80%99s%20Ahead%20for%20Government%20Performance%20Websites.pdf?dl=0").btn.is-lpurple.is-block Free Download (PDF)

		+work
		+footer