include ./_components.jade

doctype html
html
	+head ('Statecraft » Analytics solutions for local governments')
		meta(property="og:title" content="Statecraft » Analytics solutions for local governments")/
		meta(property="og:url" content="https://statecraft.one")/
		meta(property="og:description" content="We help local governments use data to solve critical problems.")/
		meta(property="og:image" content="https://statecraft.one/img/statecraft-square.png")/
		meta(name="google-site-verification" content="daI_aYpVVCN6kKDwmz1C3ZKIdS1eYA2f4xIoUGe9Vpk")/

	body
		+header (true)

		.intro: .container
			.intro--title Analytics solutions for&nbsp;local governments
			.intro--text Statecraft is&nbsp;a&nbsp;full-service implementation partner for&nbsp;your data initiatives
			.intro--btn: a(href="#contact").btn.is-blue.js-scroll Work with us
			.intro--project
				.intro--screen: a(href="https://sf.statecraft.one"): img(src="img/intro--screen.png" alt="")
				.intro--label Project highlight

				a(href="https://sf.statecraft.one").intro--link San Francisco Housing Analytics ↗

		#problems.problems: .container
			.problems--hr
			.problems--grid
				.problems--col
					.problems--title Our solutions
					.problems--text We can bring data to every#[br] decision, process, and initiative

				.problems--col: +problems--item ('monitor', 'Reports and dashboards', 'Automate reporting and<br /> increase transparency')
				.problems--col: +problems--item ('shield', 'Policy insights', 'Model potential impact and evaluate policy changes')
				.problems--col: +problems--item ('support', 'Public engagement', 'Provide easy data access<br /> to all stakeholders')
				.problems--col: +problems--item ('analytics', 'Operational analytics', 'Use data to make better decisions in daily workflows')
				.problems--col: +problems--item ('zap', 'Performance gains', 'Find new revenue and<br /> cost savings opportunities')

		.themes: .container: .themes--in: .themes--box
			.themes--item Utilities
			.themes--item Environment
			.themes--item Safety
			.themes--item Public works
			.themes--item Jobs
			.themes--item Housing
			.themes--item Revenue
			.themes--item Homelessness
			.themes--item Education
			.themes--item Justice
			.themes--item Transit

		#platform.features: .container
			.features--hr
			.features--title Statecraft platform is a set of ready-to-assemble analytics components. Your initiative can go live in weeks, not months.
			.features--grid
				+features--col ('server', 'Data integration', ['Data import automation', 'Staff interface for data entry', 'Field standardization and conversions', 'Duplicate detection and spot checks', 'Privacy management'])
				+features--col ('charts', 'Advanced analysis', ['Anomaly detection and alerts', 'Predictive analytics and forecasting', 'Funnel analysis', 'Benchmarking', 'Scenario modeling'])
				+features--col ('map', 'Presentation', ['Dashboards and charts', 'Templated reports', 'Interactive maps', 'Data storytelling', 'Search'])

		.believe: .container
			.believe--title What we believe
			.believe--text It's time to use data to improve cities
			.believe--grid
				.believe--col: +believe--item ('Outcome culture', 'When things are measured, they improve faster').is-c1
				.believe--col: +believe--item ('Informed decisions', 'With data, better decisions are made').is-c2
				.believe--col: +believe--item ('Interventions', 'Proactive is more effective than reactive').is-c3
				.believe--col: +believe--item ('Data sharing', 'The more you know, the better you understand').is-c4
				.believe--col: +believe--item ('Resource allocation', 'We can do more with what we have').is-c5
				.believe--col: +believe--item ('Transparency', 'With many eyes, bottlenecks are easy to find').is-c6

		+work
		+footer (true)